<p><{$block.message}></p>

<{if $block.story_id != ""}>
  <p><a href="<{$xoops_url}>/modules/news/article.php?storyid=<{$block.story_id}>"<{$block.htmltitle}>><{$block.story_title}></a></p>
<{/if}>