<h2><{$smarty.const._NW_NEWSARCHIVES}></h2>
<ul>
<{foreach item=onedate from=$block.archives}>
<li>
    <a href="<{$xoops_url}>/modules/news/archive.php?year=<{$onedate.year}>&amp;month=<{$onedate.month}>"><{$onedate.formated_month}> <{$onedate.year}></a></li>
</li>
<{/foreach}>
</ul>