<{*
<style type="text/css">
img {
behavior:url("images/pngbehavior.htc");
}
</style>
*}>
<br />
<p align="center"><img src="<{$xoops_url}>/modules/sitemap/images/logo.gif" alt="" /></p>
<br />
<hr noshade color=#000000">
<div style="padding: 7px;"><{$msgs}></div>
<hr noshade color=#000000">
<div style="margin: 0 10px;">

  <div align="right"><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/map.gif" /><a href="<{$xoops_url}>/">HOME</a>&nbsp;<a href="http://petitoops.net/"><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/chacha.gif" alt="" border="0" /></a></div>

<br />

<table>
<tr>

<{foreach name=i item=module from=$sitemap.modules}>
<td width="33%" valign="top">
  <{if $module.name}>
    <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/<{if $this.mods == $module.directory}>map<{else}>main<{/if}>.gif" /> <a class="menuMain" href="<{$xoops_url}>/modules/<{$module.directory}>/"><{$module.name}></a></div>
    <{foreach item=parent from=$module.parent}>
      <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/cat.gif" /> <a class="menuSub" href="<{$xoops_url}>/modules/<{$module.directory}>/<{$parent.url}>"><{$parent.title}></a></div>
      
      <{if $show_subcategoris}>
      <{foreach item=child from=$parent.child}>
        <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/cat<{$child.image}>.gif" /> <a class="menuSub" href="<{$xoops_url}>/modules/<{$module.directory}>/<{$child.url}>"><{$child.title}></a></div>
      <{/foreach}>
      <{/if}>

    <{/foreach}>
    <{foreach item=sublink from=$module.sublinks}>
      <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/sub.gif" /> <a class="menuSub" href="<{$sublink.url}>"><{$sublink.name}></a></div>
    <{/foreach}>
  <{/if}>
</td>
<{if $smarty.foreach.i.iteration is div by 3}></tr><{if !$smarty.foreach.i.last}><tr><td colspan="3"><br /></td></tr><tr><{/if}><{/if}>
<{/foreach}>

<{if $isuser}>
  <{if $smarty.foreach.i.total is div by 3}><tr><td colspan="3"><br /></td></tr><tr><{/if}>
  <td>
  <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/user.gif" /> <b><{$usermenu}></b></div>
  <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/user_sub.gif" /> <a href="<{$xoops_url}>/user.php"><{$lang.youraccount}></a></div>
  <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/user_sub.gif" /> <a href="<{$xoops_url}>/edituser.php"><{$lang.editaccount}></a></div>
  <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/user_sub.gif" /> <a href="<{$xoops_url}>/notifications.php"><{$lang.notifications}></a></div>
  <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/user_sub.gif" /> <a href="<{$xoops_url}>/user.php?op=logout"><{$lang.logout}></a></div>
  <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/user_sub.gif" /> <a href="<{$xoops_url}>/viewpmsg.php"><{$lang.inbox}></a></div>
  <{if $isadmin}>
    <div><img src="<{$xoops_url}>/modules/<{$this.mods}>/images/acp.gif" /> <a href="<{$xoops_url}>/admin.php"><{$lang.adminmenu}></a></div>
  <{/if}>
  </td>
<{/if}>
</tr>
</table>

</div>
