<{if $block.num_rows == 0}>
  <{$block.lang_PICAL_MB_NOEVENT}>
<{/if}>

<{foreach item=event from=$block.events}>

  <{if $event.allday == 0}>

    <dl>
      <dt>
        <{if $event.is_start_date == true}>
          <font size='2'><img border='0' src='<{$block.images_url}>/<{$event.dot_gif}>' /> <{$event.start_desc}> - <{$event.end_desc}></font>
        <{else}>
           <font size='2'><img border='0' src='<{$block.images_url}>/<{$event.dot_gif}>' /> <{$block.lang_PICAL_MB_CONTINUING}> - <{$event.end_desc}></font>
        <{/if}>
      </dt>
      <dd>
        <font size='2'><a href='<{$block.get_target}>?smode=Daily&amp;action=View&amp;event_id=<{$event.id}>&amp;caldate=<{$block.caldate}>' class='calsummary'><{$event.summary}></a></font>
      </dd>
    </dl>

  <{else}>

       <table border='0' cellpadding='0' cellspacing='0' width='100%'>
         <tr>
           <td><img border='0' src='<{$block.images_url}>/<{$event.dot_gif}>' /> &nbsp; </td>
           <td><font size='2'><a href='<{$block.get_target}>?smode=Daily&amp;action=View&amp;event_id=<{$event.id}>&amp;caldate=<{$block.caldate}>' class='calsummary_allday'><{$event.summary}></a></font></td>
         </tr>
       </table>
  <{/if}>

<{/foreach}>

  <{if $block.insertable <> false}>
    <dl>
      <dt>
        &nbsp; <font size='2'><a href='<{$block.get_target}>?smode=Daily&amp;action=Edit&amp;caldate=<{$block.caldate}>'><img src='<{$block.images_url}>/addevent.gif' border='0' width='14' height='12' /><{$block.lang_PICAL_MB_ADDEVENT}></a></font>
      </dt>
    </dl>
  <{/if}>
