<div id="help-template" class="outer">
    <h1 class="head">Help:
        <a class="ui-corner-all tooltip" href="<{$xoops_url}>/modules/gwiki/admin/index.php"
           title="Back to gwiki administration"> gwiki
        </a></h1>
    <!-- -----Help Content ---------- -->

<h3>gwiki</h3>

<h4 class="odd">Overview</h4>

<p class="even"><strong>gwiki</strong>, the geekwright wiki, is a XOOPS module which implements a wiki based on the <a href="http://wikicreole.org/wiki/Creole1.0" target="_blank" title="This off-site link opens in new window.">WikiCreole 1.0</a> specification. In addition to the basics as defined in the WikiCreole spec, the wiki features several powerful extensions, giving it great flexibility as a content authoring and presentation tool. It also features an equally flexible permission capability, making a single instance suitable for multiple collaborative efforts, each with their own policies.
<p class="even">A comprehensive manual is available for installation into the wiki. Visit the 
<a href="<{$xoops_url}>/modules/gwiki/admin/pages.php">Manage Revisions tab</a> in the module 
 administration area, and choose the <strong>Add Help Pages</strong> option from below the page
 listings. The new help index page will be called 
 <a href="<{$xoops_url}>/modules/gwiki/index.php?page=Help:Index">Help:Index</a>.

<br /><br /><br /><br />
 
</div>
