<html><head><style>
<!--

body { background-color: white; color: #333; }
body { font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 1.3em; }

div#MarkupHelp table { margin-bottom: 0; border-top: 3px solid #999; border-left: 3px solid #999; 
    border-right: 3px solid #BBB; border-bottom: 3px solid #BBB}
div#MarkupHelp td { font-size: 80%; padding: 0.2em; margin: 0; border: 1px solid #999; border-width: 1px 0 1px 0; 
  vertical-align: top; white-space: nowrap; }
div#MarkupHelp td.arrow { padding-right: 5px; padding: 0 0.75em; color: #999; }
div#MarkupHelp h3 { font-size: 90%; font-weight: bold; margin: 0 0 5px 0; padding: 5px 0 0 0; }
div#MarkupHelp p { font-size: 70%; }
-->
</style>
<title>gwiki Editor Help</title>
</head>
<body><div id="MarkupHelp">
<a href="wikihelp3.html"><img src="../../../images/forward.png" style="float:right;" title="Next" alt="Next" /></a>
  <h3>gwiki Extensions</h3>
<table cellpadding="0" cellspacing="0">
  <tbody><tr><td>__underlined__</td><td class="arrow">&#8594;</td><td><u>underlined</u></td></tr>
  <tr><td>##monospaced##</td><td class="arrow">&#8594;</td><td><tt>monospaced</tt></td></tr>
  <tr><td>--strikethru--</td><td class="arrow">&#8594;</td><td><del>strikethru</del></td></tr>
  <tr><td>^^super^^script</td><td class="arrow">&#8594;</td><td><sup>super</sup>script</td></tr>
  <tr><td>,,sub,,script</td><td class="arrow">&#8594;</td><td><sub>sub</sub>script</td></tr>
  <tr><td>!!blue:color text!!</td><td class="arrow">&#8594;</td><td><span style="color:blue;">color text</span></td></tr>
  <tr><td>!!grey,yellow:background!!</td><td class="arrow">&#8594;</td><td><span style="color:grey; background-color:yellow;">background</span></td></tr>
  <tr><td colspan="3"><strong>Start of Line Modifiers</strong></td></tr>
  <tr><td>: Indented</td><td class="arrow">&#8594;</td><td><span style="margin-left: 1em;">Indented</span></td></tr>
  <tr><td>:: More Indent</td><td class="arrow">&#8594;</td><td><span style="margin-left: 2em;">More Indent</span></td></tr>
  <tr><td>++ Centered</td><td class="arrow">&#8594;</td><td><center>Centered</center></td></tr>
  <tr><td>&gt; quoted</td><td class="arrow">&#8594;</td><td><blockquote>quoted</blockquote></td></tr>
  <tr><td>. preformatted</td><td class="arrow">&#8594;</td><td><pre>preformatted</pre></td></tr>
  <tr><td colspan="3"><strong>Extended Table Syntax</strong></td></tr>
  <tr><td>|< data |</td><td colspan="2">Left Align 'data'</td></tr>
  <tr><td>|> data |</td><td colspan="2">Right Align 'data'</td></tr>
  <tr><td>|+ data |</td><td colspan="2">Centers 'data'</td></tr>
  <tr><td>| -99.99 |</td><td colspan="2">Numbers right aligned in<br />monospace. Negatives in red.</td></tr>
  <tr><td colspan="3"><strong>Extended Image Syntax</strong></td></tr>
  <tr><td colspan="3">{{image|alt text|align|max size in pixels}}</td></tr>
  <tr><td>image</td><td colspan="2">URL or Image Name</td></tr>
  <tr><td>align</td><td colspan="2">left, center, right (or blank)</td></tr>

  </tbody></table>
</div>
</body></html>
