<html><head><style>
<!--

body { background-color: white; color: #333; }
body { font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 1.3em; }

div#MarkupHelp table { margin-bottom: 0; border-top: 3px solid #999; border-left: 3px solid #999; 
    border-right: 3px solid #BBB; border-bottom: 3px solid #BBB}
div#MarkupHelp td { font-size: 80%; padding: 0.2em; margin: 0; border: 1px solid #999; border-width: 1px 0 1px 0; 
  vertical-align: top; white-space: nowrap; }
div#MarkupHelp td.arrow { padding-right: 5px; padding: 0 0.75em; color: #999; }
div#MarkupHelp h3 { font-size: 90%; font-weight: bold; margin: 0 0 5px 0; padding: 5px 0 0 0; }
div#MarkupHelp p { font-size: 70%; }
-->
</style>
<title>gwiki Editor Help</title>
</head>
<body><div id="MarkupHelp">
<a href="wikihelp2.html"><img src="../../../images/forward.png" style="float:right;" title="Next" alt="Next" /></a>
  <h3>WikiCreole Cheat Sheet</h3>
<table cellpadding="0" cellspacing="0">
  <tbody><tr><td>//italics//</td><td class="arrow">&#8594;</td><td><em>italics</em></td></tr>
  <tr><td>**bold**</td><td class="arrow">&#8594;</td><td><strong>bold</strong></td></tr>

  <tr><td>* Bullet list<br>* Second item<br>** Sub item</td><td class="arrow">&#8594;</td><td>&#8226; Bullet list<br>&#8226; Second item<br>..&#8226; Sub item</td></tr>
  <tr><td># Numbered list<br># Second item<br>## Sub item</td><td class="arrow">&#8594;</td><td>1. Numbered list<br>2. Second item<br>2.1 Sub item</td></tr>

  <tr><td>Link to [[wiki page]]</td><td class="arrow">&#8594;</td><td>Link to <a href="http://www.wikicreole.org/" target="_blank">wiki page</a></td></tr>
  <tr><td>[[URL|link name]]</td><td class="arrow">&#8594;</td><td><a href="http://www.wikicreole.org/" target="_blank">link name</a></td></tr>
  
  <tr><td>== Large heading<br>=== Medium heading<br>==== Small heading</td><td class="arrow">&#8594;</td><td><span style="font-size: 130%; font-weight: bold;"> Large heading</span><br><span style="font-size: 115%; font-weight: bold;">Medium heading</span><br><span style="font-size: 100%; font-weight: bold;">Small heading</span></td></tr>
  
  <tr><td>No<br> linebreak!<br><br>Use empty line</td><td class="arrow">&#8594;</td><td>No line break!<br><br>Use empty line</td></tr>
  <tr><td>Forced\\linebreak<br></td><td class="arrow">&#8594;</td><td>Forced<br>line break</td></tr>  
  <tr><td>Horizontal line:<br>----</td><td class="arrow">&#8594;</td><td>Horizontal line: <hr></td></tr>
  <tr><td>{{Image.jpg|title}}</td><td class="arrow">&#8594;</td><td>Image with title</td></tr>
  <tr><td>|=|=table|=header|<br>|a|table|row|<br>|b|table|row|</td><td class="arrow">&#8594;</td><td>Table</td></tr>
  <tr><td>{{{<br>== [[Nowiki]]:<br> //**don't** format//<br>}}}</td><td class="arrow">&#8594;</td><td>== [[Nowiki]]:<br> //**don't** format//</td></tr>
  <tr><td>~[[TildeEscapes]]</td><td class="arrow">&#8594;</td><td>[[TildeEscapes]]</td></tr>
</tbody></table>
  <b style="font-size: 70%;">www.wikicreole.org</b></div>
  </body></html>
